a{
    margin-left: 150px;
    text-decoration: none; 
    color:aliceblue; 
    font-weight: 600;
    font-size: 20px;
    font-family:Arial, Helvetica, sans-serif ;
    text-align: center;
    
}

html {
    scroll-behavior: smooth;
}
header{
    padding: 15px 15px;
    margin: 15px;
    border-radius: 20px;
    background-color:black;
}
body{background-color: black;}
hr {
  border: none;      
  height: 2px;     
  background-color:rgb(207, 151, 8);
}



#h3-uy{
    text-decoration: none; 
    color:white; 
    font-size: 20px;
    font-family:Arial, Helvetica, sans-serif ;
    text-align: center;
    letter-spacing: 3px;
}
#h1-uy{
    color: white;
    text-align: center;
    font-style: normal;
    letter-spacing: 4px;
    font-size: 60px;
     text-decoration: none; 
    font-family:Arial, Helvetica, sans-serif ;
}
#p-uy{
     color: white;
    text-align: center;
    font-style: normal;
   text-decoration: none; 
    font-family:Arial, Helvetica, sans-serif ;
    letter-spacing: 3px;
    font-size:x-large;

    }


    #h1-uy-2{
        color:rgb(220, 162, 13);
    text-align: center;
    font-style: normal;
    letter-spacing: 4px;
    font-size: 40px;
     text-decoration: none; 
    font-family:Arial, Helvetica, sans-serif ;


    }
    #h1-uy-3{
        color:white;
    text-align: center;
    font-style: normal;
    letter-spacing: 3px;
    font-size: 40px;
     text-decoration: none; 
    font-family:Arial, Helvetica, sans-serif ;
    }
    
    #h1-uy-4{
        color:white;
    text-align: center;
    font-style: normal;
    letter-spacing: 3px;
    font-size: 40px;
     text-decoration: none; 
    font-family:Arial, Helvetica, sans-serif ;
    }

    #h1-uy-5{
       color:white;
       text-align: center;
    font-style: normal;
    letter-spacing: 3px;
    font-size: 40px;
     text-decoration: none; 
    font-family:Arial, Helvetica, sans-serif ; 
    }

    #p-uy-2{
        color: white;
    text-align: center;
    font-style: normal;
   text-decoration: none; 
    font-family:Arial, Helvetica, sans-serif ;
    font-size: large;
    letter-spacing: 2px;
    }

    #h1-uy-6{
        color:darkgoldenrod;
    text-align: center;
    font-style: normal;
    letter-spacing: 3px;
    font-size: 40px;
     text-decoration: none; 
    font-family:Arial, Helvetica, sans-serif ;
    }
    input,
select,
textarea {
    width: 100%;

    padding: 13px;

    border: 3px solid #f4f2f2;

    border-radius: 10px;

    font-size: 20px;
}

textarea {
    height: 120px;
}

button {
    width: 100%;

    margin-top: 20px;

    padding: 14px;

    border: none;

    border-radius: 7px;

    background: #5b2be0;

    color: white;

    font-size: 16px;

    cursor: pointer;
}

 #h1-uy-7{
    color:rgb(0, 0, 0);
       text-align: center;
    font-style: normal;
    letter-spacing: 3px;
    font-size: 35px;
     text-decoration: none; 
    font-family:Arial, Helvetica, sans-serif ; 
 }
    #p-uy-3{
        color: rgb(0, 0, 0);
    text-align: center;
    font-style: normal;
   text-decoration: none; 
    font-family:Arial, Helvetica, sans-serif ;
    font-size:x-large;
    }

    #h1-uy-8{
        color:white;
       text-align: center;
    font-style: normal;
    letter-spacing: 3px;
    font-size: 50px;
     text-decoration: none; 
    font-family:Arial, Helvetica, sans-serif ; 
    }

    .cases-table {
  width: 100%;
  border-collapse: collapse;
  font-family: sans-serif;
  box-shadow: 0 2px 8px rgba(0,0,0,0.05);
}

.cases-table th {
  background-color:darkgoldenrod;
  color: #ffffff;
  padding: 12px 15px;
  text-align: left;
  font: size 20px;;
}

.cases-table td {
  padding: 12px 15px;
  border-bottom: 1px solid #e0e0e0;
  font-size: 15px;
  color:white;
}


.view-btn {
  color: #2980b9;
  text-decoration: none;
  font-weight: 500;
}

.view-btn:hover {
  text-decoration: underline;
}


label {
    display: block;

    margin-top: 15px;
    margin-bottom: 7px;
}